* {
    padding: 0;
    margin: 0;
    color: white;
    box-sizing: border-box;
}
body {
    background-color: #222;
    font-family: 'Press Start 2P', sans-serif;
}

/* Header */

.header-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 10px solid #eee;
    position: relative;
    height: 320px;
    position: relative;
    padding: 0px 30px;
}

.first {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 0px 50px 0px;
}

.reload {
    border: none;
    background-color: #eee;
    color: #222;
    text-align: center;
    padding: 10px;
    font-family: 'Press Start 2P';
    height: 60px;
    width: 150px;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
}

.reload:hover {
    background-color: #ccc;
    /* color: black; */
}

.number-sequence {
}

.h1-name {
    text-align: center;
    font-size: 40px;
}

.parent-mark {
    position: absolute;
    bottom: -80px;
    /* left: 50%; */
    width: 100%;
    background: transparent;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.question-mark {
    /* position: absolute; */
    font-size: 60px;
    padding: 50px 30px;
    /* bottom: -50px;
    left: 50%; */
    text-align: center;
    background: #eee;
    color: #333;
    width: 160px;
}

main.main-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* margin-top: 30px; */
    padding-top: 200px;
    font-size: 18px;
}

.left-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.input-number {
    background: none;
    border: 5px dashed #eee;
    color: #eee;
    width: 150px;
    text-align: center;
    padding: 10px;
    font-family: 'Press Start 2P';
    font-size: 50px;
    height: 80px;
    width: 250px;
}

.input-number:hover {
    /* background-color: antiquewhite; */
}

.check {
    border: none;
    background-color: #eee;
    color: #222;
    text-align: center;
    padding: 10px;
    font-family: 'Press Start 2P';
    cursor: pointer;
    height: 60px;
    width: 150px;
    font-size: 18px;
}

.check:hover {
    background-color: #ccc;
}

.right-side {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.process {
    margin-bottom: 50px;
}
